<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
<css href="__PUBLIC__/admin/css/public.css"/>
</head>
<body>
<h4>系统信息</h4>
<div class="add"></div>
<div class="list">
	<table>
		<tr class="t-head">
			<td>参数</td>
			<td>详情信息</td>
		</tr>
		<foreach name="info" item="info">
			<tr class="t-body">
				<td>{$key}</td>
				<td>{$info}</td>
			</tr>
		</foreach>
	</table>
</div>

<div class="add"></div>
</body>
</html>