<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
<meta name="author" content="笔墨"/>
<meta name="description" content="议论风生,笔墨横姿，几令读者心目俱眩，哈哈哈哈！"/>
<meta name="keywords" content="笔墨博客，个人网站，博客日志，留言系统，网络相册"/>
<link rel="shortcut icon" href="http://www.bimoxx.com/favicon.ico"/>
<link rel="bookmark" href="http://www.bimoxx.com/favicon.ico"/>
<title><block name="title">标题基类</block></title>
</head>
<body>
<include file="Public/header" />
<block name="main"></block>
<include file="Public/footer" />
</body>
</html>