<css href="__PUBLIC__/mycss/footer.css"/>
<footer class="container-fluid">
	<div class="row" style="background-color:#333">
	<div class="container" >
	<div class="row" style="padding-top:10px">
		<p>
			<a href="#">常见问题</a>
			<a href="#">意见反馈</a>
			<a href="#">联系我们</a>
			<a href="#">关于我们</a>            
		</p>
	    <p>
				<span>Copyright © 2012-2016</span>
				<span class="hidden-xs">京ICP备11011334号</span>
				<span class="hidden-xs">京公网安备110105007294</span>
	    </p>
	    <p>
				<span>qq:1303445410</span>
				<span>微信:qi12345678</span>
				<span>微博:墨晨ol</span>
		</p>
    </div>
    </div>
    </div>
</footer>