<extend name="Public/base"/> <!-- name="视图文件名/模板名前缀" -->
<block name="title">议论风生 | 笔墨横姿，几令读者心目俱眩，一个别致的网站！</block>
<block name="main">
<css href="__PUBLIC__/mycss/index.css"/>
<js href="__PUBLIC__/js/index.js"/>
<!-- 加载轮播插件 -->
<css href="__PUBLIC__/mycss/carousel/slick.min.css"/>
<css href="__PUBLIC__/mycss/carousel/slick-theme.min.css"/>
<css href="__PUBLIC__/mycss/carousel/index.css"/>
<div class="container">
	<div class="slideshow">
	  <div class="slider">
		<div class="item">
		  <img class="img-responsive" src="__PUBLIC__/img/1.jpg" />
		</div>
		<div class="item">
		  <img class="img-responsive" src="__PUBLIC__/img/2.jpg" />
		</div>
		<div class="item">
		  <img class="img-responsive" src="__PUBLIC__/img/3.jpg" />
		</div>
	  </div>
	</div>
</div>
<!-- 轮播js -->
<script src='__PUBLIC__/js/carousel/slick.min.js'></script>
<script src='__PUBLIC__/js/carousel/index.js'></script>

<section class="container  hidden-xs">
	<div class="row" id="content">
		<!-- 标语banner 切换 -->
		<div id="content_left" class="col-md-4 col-sm-4 col-lg-4" style="padding-left:0">		
			<div class="banner">
			         <img id="ban_img1" class="active img-responsive" src="__PUBLIC__/img/4.jpg" alt="秦时明月"/>		
			         <img id="ban_img2" class="img-responsive" src="__PUBLIC__/img/5.jpg" alt="秦时明月"/>		
			         <img id="ban_img3" class="img-responsive" src="__PUBLIC__/img/6.jpg" alt="秦时明月"/>
			</div>	
			<div class="shadow">
			<!-- 因为float是靠右的所有dot就是倒着排的 -->
					<span id="ban_dot3" class="dot"></span>
					<span id="ban_dot2" class="dot"></span>
					<span id="ban_dot1" class="dot dot-active"></span>
					<span id="ban_title1" class="title active">少司命</span>
					<span id="ban_title2" class="title">章邯</span>
					<span id="ban_title3" class="title">秦时明月</span>
			</div>
		</div>
		<!-- 推荐的动漫 -->
		<div id="content_right" class="col-md-8 col-sm-8 col-lg-8">
			<div class="news col-md-5 col-sm-5">
				<dl>
					<foreach name="recommend['recommend_news']" item="vo">
						<dd><a href="__ROOT__/Detail/index/id/{$vo['id']}.html">{$vo['title']|my_substr=0,20}</a></dd>
					</foreach>
				</dl>
			</div>
			<foreach name="recommend['recommend_figure']" item="vo">
				<div class="figure col-md-7 col-sm-7">
					<div class="figure-picture col-md-6 col-sm-6" id="picture1">
						<a href="__ROOT__/Detail/index/id/{$vo['id']}.html"><img class="img-responsive" src="{$vo['imgpath']}"></a>
					</div>
					<div class="describe col-md-6 col-sm-6">
						<dl>
							<dt><a href="__ROOT__/Detail/index/id/{$vo['id']}.html">{$vo['title']}</a></dt>
							<dd>{$vo['content']|remove_pic|my_substr=0,60}</dd>
						</dl>
					</div>
				</div>
			</foreach>
		</div>
	</div>
</section>
<js href="__PUBLIC__/js/carousel.js"/> 

<div class="container">
	<!-- 技术区 -->
	<div id="technology" class="col-md-8 col-xs-12" style="padding-bottom:10px;">
		<div class="head">
				<div class="area-title">技术</div>
				<h4  class="sub col-xs-2" style="background:#67C39C" onclick="techno_change(0)">js</h4>
				<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="techno_change(1)">php</h4>
				<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="techno_change(2)">linux</h4>
				<h4  class="sub col-xs-3 col-sm-2" style="color:#67C39C;" onclick="techno_change(3)">seo优化</h4>
				<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="techno_change(4)">其他</h4>
				<a class="hidden-xs">更多</a>
		</div>
		<div  class="detail">
				<foreach name="techno" item="vo">
				<div id="{$key}">
					<div class="container-fluid img">
							<php> for($i=0;$i < (count($vo)<4?count($vo):4);$i++){</php>
								<php>if($vo[$i][imgpath]){</php>
									<div class="col-sm-3 col-xs-6" style="text-align:center">
										<div class="img-sub" onmouseover="pic_manage_over(this)" onmouseout="pic_manage_out(this)" >
											<a href="__ROOT__/Detail/index/id/{$vo.$i.id}.html"><span>{$vo.$i.title|mb_substr=0,20,'UTF-8'}</span><img src="{$vo.$i.imgpath}"/></a>
										</div>
									</div>
								<php>}else{</php>
									<div class="col-sm-3 col-xs-6" style="text-align:center">
										<div class="img-sub" onmouseover="pic_manage_over(this)" onmouseout="pic_manage_out(this)">
											<a href="__ROOT__/Detail/index/id/{$vo.$i.id}.html"><span>{$vo.$i.title|mb_substr=0,20,'UTF-8'}</span><img src="__PUBLIC__/img/no_pic.png"/></a>
										</div>
									</div>
								<php>}</php>
							<php>}</php>
					</div>
					<div class="area-caption container-fluid" style="padding-bottom:30px">
						<dl>
						<php> for($i=4;$i < (count($vo)<14?count($vo):14);$i++){ </php>	
							<div class="col-xs-12 col-sm-6 col-md-4">
								<dd class="col-xs-10 text-overflow"><a href="__ROOT__/Detail/index/id/{$vo.$i.id}.html">{$vo.$i.title|mb_substr=0,20,'UTF-8'} </a></dd>
							</div>
						<php>}</php>
						</dl>
					</div>
				
				</div>
				</foreach>
		</div>
	</div>

	<!-- 时事热点 -->
	<div class="col-md-4 hidden-xs hidden-sm" style="padding-right:0">
		<div id="hotsport">
			<h4>时事热点</h4>
			<dl>
			<php>for($i=0;$i<(7>count($heat)?count($heat):7);$i++){</php>
				<dd id="hot{$i+1}" class="hot{$i+1} text-overflow"><span>{$heat[$i]['heat']}</span><a href="__ROOT__/Detail/index/id/{$heat[$i]['id']}.html">{$heat[$i]['title']}</a></dd>
				<dd id="hot_detail{$i+1}" class="hot-detail"><a href="__ROOT__/Detail/index/id/{$heat[$i]['id']}.html"><div><img src="{$heat[$i]['imgpath']}"/></div></a><h5>{$heat[$i]['content']|my_substr=0,50}</h5></dd>
			<php>}</php>
			</dl>
		</div>
	</div>
</div>
<js href="__PUBLIC__/js/hotsport.js"/>

<div class="container">
	<!-- 生活区 -->
	<div id="life" class="col-md-8 col-xs-12" style="padding-bottom:10px;">
		<div class="head">
					<div class="area-title">生活</div>
					<h4  class="sub col-xs-2" style="background:#67C39C" onclick="life_change(0)">学习</h4>
					<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="life_change(1)">旅游</h4>
					<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="life_change(2)">运动</h4>
					<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="life_change(3)">实习</h4>
					<h4  class="sub col-xs-2" style="color:#67C39C;" onclick="life_change(4)">其他</h4>
					<a class="hidden-xs">更多</a>
		</div>
		<div  class="detail">
			<foreach name="life" item="vo">
			<div id="{$key}">
				<div class="container-fluid img">
						<php> for($i=0;$i < (count($vo)<4?count($vo):4);$i++){</php>
							<php>if($vo[$i][imgpath]){</php>
								<div class="col-sm-3 col-xs-6" style="text-align:center">
									<div class="img-sub" onmouseover="pic_manage_over(this)" onmouseout="pic_manage_out(this)" >
										<a href="__ROOT__/Detail/index/id/{$vo.$i.id}.html"><span>{$vo.$i.title|mb_substr=0,20,'UTF-8'}</span><img src="{$vo.$i.imgpath}"/></a>
									</div>
								</div>
							<php>}else{</php>
								<div class="col-sm-3 col-xs-6" style="text-align:center">
									<div class="img-sub" onmouseover="pic_manage_over(this)" onmouseout="pic_manage_out(this)">
										<a href="__ROOT__/Detail/index/id/{$vo.$i.id}.html"><span>{$vo.$i.title|mb_substr=0,20,'UTF-8'}</span><img src="__PUBLIC__/img/no_pic.png"/></a>
									</div>
								</div>
							<php>}</php>
						<php>}</php>
				</div>
				<div class="area-caption container-fluid" style="padding-bottom:30px">
					<dl>
					<php> for($i=4;$i < (count($vo)<14?count($vo):14);$i++){ </php>	
						<div class="col-xs-12 col-sm-6 col-md-4">
							<dd class="col-xs-10 text-overflow"><a href="__ROOT__/Detail/index/id/{$vo.$i.id}.html">{$vo.$i.title|mb_substr=0,20,'UTF-8'} </a></dd>
						</div>
					<php>}</php>
					</dl>
				</div>
			
			</div>
			</foreach>
		</div>
	</div>
	<!-- 最新评论-->
	<div class="col-md-4 hidden-xs hidden-sm" style="padding-right:0">
		<div id="new-comment">
			<h4>最新评论</h4>
			<foreach name="comment" item="comm">
				<div class="container-fluid">
					<img src="{$comm['headpic']}" class="col-xs-3" style="padding:0"></img>
					<dl class="col-xs-9" style="height:70px">
						<dd class="comment-user"><b>{$comm.nickname}</b>&nbsp;在 <a href="__ROOT__/Detail/index/id/{$comm.articleid}">{:my_article($comm['articleid'])}</a> 于{:my_time($comm['posttime'])}前：</dd>
						<dd class="comment-content">{$comm.content|my_substr=0,10|smile}</dd>
					
					</dl>
				</div>
			</foreach>
		</div>
	</div>
</div>
<js href="__PUBLIC__/js/change/change.js"/>
<!-- 添加音乐部件 -->
{:W('Music/index')}
</block>

