@CHARSET "UTF-8";
.album-name{
	height:40px;
	font-size:15px;
	color:#DE5C25;
	line-height:40px;
	font-weight:900;
	text-shadow:2px 2px 4px #aaa;
}
.list table .t-body .small-photo{
	width:80px;
	height:80px;
	margin:auto;
	border:1px solid #E1E7F5;	
}
.t-body .small-photo:hover{
	cursor:pointer;
}
